.App {
  color: white;
  box-sizing: border-box;
  width: 100%;
}

.largeBox {
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
}

.chart {
  background-color: #fca311;
}

.recordBox {
  background-color: black;
  justify-content: center;
  align-items: center;
}

.chart > p {
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  border-radius: 20px;
  border: 5px solid #425b91;
  width: 42vw;
  height: 170px;
  max-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:focus {
  outline: none;
}

.recordInputs {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-around;
  align-items: center;
}

.inputWeight {
  background: none;
  border: none;
  color: white;
  border-bottom: 5px solid black;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  width: 80vw;
  padding-bottom: 10px;
}

.inputWeight:focus {
  outline: none;
}

.inputButton {
  background: none;
  border: none;
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50px;
}

.inputButton:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active,
a:focus,
a:hover,
a:clicked {
  color: inherit;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  height: 95vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  background-color: #14213d;
  border-radius: 30px 30px 0 0;
  transition: transform ease-in-out 300ms;
}
.page {
  padding: 10px;
  transition: transform ease-in-out 300ms;
}

.calendarBox {
  height: 50vh;
  background-color: #fca311;
}

.dateBox {
  display: flex;
  background-color: #e29c29;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 20px;
}
.dateBox > h3 {
  margin: 0px;
  color: black;
  display: inline;
}
.dateRow {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.date > h5,
.date > p {
  margin: 0px;
  text-align: center;
}

.date {
  background-color: #ffb132;
  border-radius: 7px;
  padding: 7px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.statBox {
  text-align: center;
}
h6 {
  font-weight: lighter;
  font-size: 1em;
}
.statBox > p {
  font-size: 1.5em;
}
.close .inputButton {
  width: 100px;
  height: 50px;
  border-radius: 50px;
}
.close .inputButton img {
  width: 25px;
}
