.App {
  padding: 10px;
  color: white;
  box-sizing: border-box;
  width: 100%;
}

.largeBox {
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
}

.chart {
  background-color: #fca311;
}

.recordBox {
  background-color: #14213d;
  justify-content: center;
  align-items: center;
}

.chart > p {
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  border-radius: 20px;
  border: 5px solid #425b91;
  width: 42vw;
  height: 170px;
  max-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recordInputs {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-around;
  align-items: center;
}

.inputWeight {
  background: none;
  border: none;
  color: white;
  border-bottom: 5px solid #14213d;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.inputWeight:focus {
  outline: none;
}

.inputButton {
  background: none;
  border: none;
  width: 100px;
  height: 100px;
  background: #14213d;
  border-radius: 50px;
}

.inputButton:focus {
  outline: none;
}
